
<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSPN Finance Login</title>
    <link rel="shortcut icon" href="{% static 'sspn_lead_manager_app/img/sspn_title.ico' %}"  />

   
    <link rel="stylesheet" type="text/css" href="{% static 'sspn_lead_manager_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sspn_lead_manager_app/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sspn_lead_manager_app/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sspn_lead_manager_app/css/iofrm-theme5.css' %}">
    
     <script src="{% static 'sspn_lead_manager_app/js/jquery.min.js' %}"></script>
    <script src="{% static 'sspn_lead_manager_app/js/popper.min.js' %}"></script>
    <script src="{% static 'sspn_lead_manager_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sspn_lead_manager_app/js/main.js' %}"></script>
    
</head>

<body style="background-color: #2E3639 !important;">
    <div class="row">
        <div class="form-holder" style="background-color: #2E3639 !important;">
            <div class="form-content" style="background-color: #2E3639 !important;">
                <div class="form-items" style="margin-top:5%">
                    <h3>SSPN Finance Lead Manager  Admin Login</h3>
                    <p>Enter your username and password!</p>
                    <div class="page-links">
                        <a href="{% url 'sspn_lead_manager_app:login' %}" class="active">Login</a><a href="{% url 'sspn_lead_manager_app:register' %}">Register</a>
                    </div>
                    {% if error_message %}
                            <p style='color:red'>{{ error_message }}</p>
                    {% endif %}
                    <form method="post" action="{% url 'sspn_lead_manager_app:login' %}">
                     {% csrf_token %}
                        <input class="form-control" type="text" name="username" placeholder="User Name" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Login</button> <a href="{% url 'sspn_lead_manager_app:forget_password' %}">Forget password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% block script %}
   
{% endblock %}
</body>

</html>