<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SSPN Finance</title>
    <link rel="shortcut icon" href="{% static 'sspn_lead_manager_app/img/sspn_title.ico' %}"  />
    <!-- Block for CSS -->
    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'sspn_lead_manager_app/css/style.css' %}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Base Script -->
    
    <!-- Popper.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!--jQuery-->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    {% block headscript %}
    {% endblock headscript %}
    
    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block extrastylesheets %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <!-- SIDEBAR  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4><img src="{% static 'sspn_lead_manager_app/img/logo_sspn.png' %}" style="height:80px;width: 200px"></h4>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{% url 'sspn_lead_manager_app:index' %}">Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'sspn_lead_manager_app:leads_collected' %}">Leads Collected</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leads by Product</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:micro_finance' %}">Micro finance</a>
                        </li>
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:instant_salary' %}">Instant Salary</a>
                        </li>
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:consumer_finance' %}">Consumer Finance</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leads By Status</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:all_status' %}">All</a>
                        </li>
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:pending_status' %}">Pending</a>
                        </li>
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:in_process_status' %}">In Process</a>
                        </li>
                        <li>
                            <a href="{% url 'sspn_lead_manager_app:approved_status' %}">Approved</a>
                        </li>
                     <li>
                            <a href="{% url 'sspn_lead_manager_app:rejected_status' %}">Rejected</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'sspn_lead_manager_app:team_sspn' %}">Team</a>
                </li>
                <li>
                    <a href="{% url 'sspn_lead_manager_app:user_profile' %}">My Profile</a>
                </li>
                <li>
                    <a href="{% url 'sspn_lead_manager_app:report_error' %}">Report Error</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'sspn_lead_manager_app:login' %}" class="btn btn-light">
                        <font color="#df2e1c">Logout</font>
                    </a>
                </li>
            </ul>
        </nav> 
        <!--SIDEBAR ENDS HERE-->

        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn" style="background-color: #df2e1c;color: white">
                    <i class="fas fa-align-left"></i>
                </button>
                <hr>
                {% block content %}
                {% endblock %}
            </div>
        </div>
</div>
    
{% block script %}
{% endblock %}   

    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell

            $('#test_table tr:eq(1) th').each(function(i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function() {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#test_table').DataTable({
                orderCellsTop: true,
                fixedHeader: false,
                "lengthMenu": [ [100, 200, 500, -1], [100, 200, 500, "All"] ],
            });
        });
    </script>
 
{% block extrascript %}
{% endblock %}


</body>

</html>