{% extends 'sspn_lead_manager_app/base.html' %}

{% load static %}

{% block headscript %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock headscript %}

{% block content %}
<!-- PAGE CONTENT  -->
        <div>
            <div id="city_wise" style="height: 400px; width: 100%"></div>

            <hr><br>

            <div id="profession_wise" style="height: 400px; width: 100%"></div>

            <hr><br>

            <div id="product_wise" style="height: 400px; width: 100%">
            
            </div>
        </div>
{% endblock %}

{% block script %}
<script>
    window.onload = function() {

        var city = new CanvasJS.Chart("city_wise", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Enquire Form Filled from Various Cities"
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: [{
                        y: {{ city_mumbai_count }},
                        label: "Mumbai"
                    },
                    {
                        y: {{ city_delhi_count }},
                        label: "Delhi"
                    },
                    {
                        y: {{ city_banglore_count }},
                        label: "Banglore"
                    },
                    {
                        y: {{ city_pune_count }},
                        label: "Pune"
                    },
                    {
                        y: {{city_ahmedabad_count}},
                        label: "Ahmedabad"
                    },
                    {
                        y: {{city_other_count}},
                        label: "Other"
                    },
                ]
            }]
        });
        city.render();

        var profession = new CanvasJS.Chart("profession_wise", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Enquire Form Filled from Professions"
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: [{
                        y: {{ salaried_count }},
                        label: "Salaried"
                    },
                    {
                        y: {{business_count}},
                        label: "Business"
                    },
                    {
                        y: {{ self_employed_count }},
                        label: "Self Employed"
                    },

                    {
                        y: {{ other_count }},
                        label: "Other"
                    },
                ]
            }]
        });
        profession.render();

        var product = new CanvasJS.Chart("product_wise", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Enquire Form Filled from Products"
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: [{
                        y: {{ micro_finance_count }},
                        label: "Microfinance"
                    },

                    {
                        y: {{ instant_salary_count }},
                        label: "Instant Salary"
                    },

                    {
                        y: {{ consumer_finance_count }},
                        label: "Consumer Finanace"
                    },
                ]
            }]
        });
        product.render();
    }
</script>
{% endblock %}