{% extends 'sspn_lead_manager_app/base.html' %}


{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock %}

{% block extrastylesheets %}
<style>
    #colmn {
        width: 1000px;
    }

    thead input {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<h1>Rejected Leads</h1>
<hr>
<div>
{% if rejected_status %}
    <table id="test_table" class="display" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Company Name</th>
                <th scope="col">Product Interested In</th>
                <th scope="col">Edit</th>
                {% if user_role == 1 %}
                <th scope="col">Delete</th>
                {% endif %}
            </tr>
             <tr>
                <th>Sr. No</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Company Name</th>
                <th>Product Interested In</th>
                <th>Edit</th>
                {% if user_role == 1 %}
                <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for rejectedstatus in rejected_status %}
            <tr>
                <td>{{ rejectedstatus.sr_no }}</td>
                <td>{{ rejectedstatus.full_name }}</td>
                <td>{{ rejectedstatus.gender }}</td>
                <td>{{ rejectedstatus.email }}</td>
                <td>{{ rejectedstatus.contact }}</td>
                <td>{{ rejectedstatus.company_name }}</td>
                <td>{{ rejectedstatus.product_interested_in }}</td>
                <td>
                            <button type="button" class="update-lead btn btn-sm btn-primary" data-id="{% url 'sspn_lead_manager_app:leads_status_update' rejectedstatus.pk %}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </td>
                        {% if user_role == 1 %}
                        <td>
                            <button type="button" class="delete-lead btn btn-sm btn-danger" data-id="{% url 'sspn_lead_manager_app:leads_status_delete' rejectedstatus.pk %}">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                        {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        
    </table>
    {% else %}
            <p class="no-leads text-primary">No entry added yet.</p>
    {% endif %}
</div>
 <!--TEST TABLE ENDS HERE-->
    
<!--PAGE CONTENT ENDS HERE-->
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(function() {
        $(".update-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".delete-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });

        $(".read-book").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock %}