{% extends 'sspn_lead_manager_app/base.html' %}


{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock %}

{% block extrastylesheets %}
<style>
    #colmn {
        width: 1000px;
    }

    thead input {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div>
<hr>

                <h2>Team<span style="float: right"><button class="create_new_teammember btn btn-info">Add a new Team Member</button></span></h2>

        <hr>
{% if team_sspn %}
    <table id="test_table" class="display" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">User Name</th>
                <th scope="col">Role</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            <tr>
                <th>Sr. No</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Creation Date</th>
                <th>Email</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for teamsspn in team_sspn %}
            <tr>
                <td>{{ teamsspn.sr_no }}</td>
                <td>{{ teamsspn.full_name }}</td>
                <td>{{ teamsspn.role }}</td>
                <td>{{ teamsspn.creation_date }}</td>
                <td>{{ teamsspn.email }}</td>
                <td>{{ teamsspn.status }}</td>
                <td>
                            <button type="button" class="update-lead btn btn-sm btn-primary" data-id="{% url 'sspn_lead_manager_app:teamupdate' teamsspn.pk %}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </td>
                        
                        <td>
                            <button type="button" class="delete-lead btn btn-sm btn-danger" data-id="{% url 'sspn_lead_manager_app:teamdelete' teamsspn.pk %}">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Sr. No</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Creation Date</th>
                <th>Email</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
    {% else %}
            <p class="no-leads text-primary">No entry added yet.</p>
    {% endif %}
</div>
 <!--TEST TABLE ENDS HERE-->
    
<!--PAGE CONTENT ENDS HERE-->
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(function() {
        $(".create_new_teammember").modalForm({
            formURL: "{% url 'sspn_lead_manager_app:add_new_team_member' %}"
            });
        $(".update-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".delete-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });

        $(".read-book").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock %}
