{% extends 'sspn_lead_manager_app/base.html' %}

{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}
{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock %}

{% block extrastylesheets %}
<style>
    #colmn {
        width: 1000px;
    }

    thead input {
        width: 100%;
    }
</style>
{% endblock %}


{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div>
    <div class="jumbotron">
        <h1 class="display-4">Hello {{ user_name }}</h1>
        <p class="lead">Welcome to Your SSPN Finance Profile Page.</p>
        <hr class="my-4">
        <p>You can view and edit your information here. Password change requires Email verification.</p>
        <p class="lead">
            <a class="btn btn-lg" href="#" role="button" style="background-color:#df2e1c;color:white">Email Me Password Reset Link</a>
        </p>
    </div>
</div>

<div>

    <table id="test_table" class="display" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Your Id</th>
                <th scope="col">Your UserName</th>
                <th scope="col">Your Email</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{ user_id }}</td>
                <td>{{ user_name }}</td>
                <td>{{ user_email}}</td>
                <td>
                            <button type="button" class="update-lead btn btn-sm btn-primary" data-id="{% url 'sspn_lead_manager_app:teamupdate' user.pk %}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </td>
            </tr>
           
        </tbody>

    </table>

   
</div>
 <!--TEST TABLE ENDS HERE-->
    
<!--PAGE CONTENT ENDS HERE-->
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(function() {
        $(".update-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
        $(".delete-lead").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });

        $(".read-book").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
    });
</script>
{% endblock %}