{% extends 'sspn_lead_manager_app/base.html' %}

{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}

{% block extrastylesheets %}
<style>
    #colmn {
        width: 1000px;
    }

    thead input {
        width: 100%;
    }
</style>
{% endblock %}


{% block content %}
<div>
    <div class="jumbotron">
        <h1 class="display-4">Hello, Soham!</h1>
        <p class="lead">Welcome to Your SSPN Finance Profile Page.</p>
        <hr class="my-4">
        <p>You can view and edit your information here. Password change requires Email verification.</p>
        <p class="lead">
            <a class="btn btn-lg" href="#" role="button" style="background-color:#df2e1c;color:white">Email Me Password Reset Link</a>
        </p>
    </div>
</div>

<div>
    <table id="test_table" class="display" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
            </tr>
            <tr>
                <th>Sr. No</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Sr. No</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </tfoot>
    </table>
</div>
<!--TEST TABLE ENDS HERE-->

<!--PAGE CONTENT ENDS HERE-->
{% endblock %}