{% extends 'sspn_portfolio_website/base.html' %}

{% load static %}

{% block content %}
<!-- Section Header Title -->
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <div class="col-md-12">
                    <h2>Instant Salary</h2>
                </div>
            </div>
        </div><!-- End Row -->
    </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb breadcrumb-finance">
                    <li><a href="{% url 'sspn_portfolio_website:index' %}"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li class="active">Our Products</li>
                </ol>
            </div><!--  End col -->
        </div> <!-- End Row -->
    </div><!-- End container -->
</div><!--  End Section -->

<div class="line"></div>

<!--Services Detail -->
<section class="padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 slidebar">
                <div class="list-group">
                    <a href="{% url 'sspn_portfolio_website:microfinance' product_name="MicroFinance" %}" class="list-group-item">Microfinance</a>
                    <a href="{% url 'sspn_portfolio_website:instantsalary' product_name="InstantSalary" %}" class="list-group-item active">Instant Salary</a>
                    <a href="{% url 'sspn_portfolio_website:consumerfinance' product_name="ConsumerFinance" %}" class="list-group-item">Consumer Finance</a>
                </div>
            </div> <!-- End col slidebar -->
            <div class="col-md-9 services-detail-content">
                <img src="{% static 'sspn_portfolio_website/images/Services/4.jpg' %}" class="img-responsive img-header-detail" alt="Image">

                <div class="h-block">
                    <h3>Financial Statements</h3>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <p>Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem. Donec sit amet elit a felis tristique eleifend. Aliquam erat volutpat. Cras metus ipsum, tincidunt in bibendum vitae, fringilla ac ipsum. Sed at eros quis mi pulvinar lacinia eget sed ex. Vestibulum eget ipsum porttitor, cursus urna nec, ultrices enim. Sed eget dignissim nulla, non facilisis augue. Fusce nec dictum nunc. Maecenas hendrerit tempus magna eu ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eros ligula, porta non leo porttitor, laoreet mollis nisl.
                            </p>
                        </div>
                        
                    </div><!-- End row -->
                </div><!-- End H-block -->
                

                   <div class="tab-finance clearfix">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Brainstorming">On Spot Approval Status</a></li>
                            <li><a data-toggle="tab" href="#Planification">Minimal Documentation</a></li>
                            <li><a data-toggle="tab" href="#WorkHard">Doorstep Service</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="Brainstorming" class="tab-pane fade in active">
                                <p>The process for Instant Salary from SSPNFIN is simple, transparent,and requires minimum documentation. It is communicated on the spot using smart technology. </p>
                            </div>
                            <div id="Planification" class="tab-pane fade">
                                <p>The documentation for Instant Salary from SSPN Finance Minimal Documentation. Applicants who fulfill KYC requirements and have a group guarantee, get an on-the-spot indication of their loan approval status.</p>
                            </div>
                            <div id="WorkHard" class="tab-pane fade">
                                <p>The Loan Disbursement & Repayment between SSPN Finance and customer takes place at the residence or workplace of the customers. </p>
                            </div>
                            
                        </div>
                    </div><!-- End tab -->
                    <!-- End col -->

                </div><!-- End v-block -->
            </div>

        </div><!-- End Row -->

    </div><!-- End container -->
</section><!--  End Section -->

<!-- Get a quote section -->
<section class="bg-grey no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="quote-warp">
                    <div class="quote-text">
                        <h2> We are focused on semi urban and rural area for Microfinance <a href="{% url 'sspn_portfolio_website:signup_registration' product_name=product_name %}"class="ot-btn large-btn btn-rounded btn-hightlight-color">Get Connect</a></h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}