{% extends 'sspn_portfolio_website/base.html' %}

{% load static %}

{% block content %}
 <!-- Section Header Title -->
        <section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <div class="col-md-12">
                            <h2>More Details About Microfinance</h2>
                        </div>
                    </div>
                </div><!-- End Row -->
            </div><!-- End container -->

        </section><!--  End Section -->
        <!-- Section BreadCrumb -->
        <div class="no-padding border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb breadcrumb-finance">
                            <li><a href="{% url 'sspn_portfolio_website:index' %}"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="active">Register</li>
                        </ol>
                    </div><!--  End col -->
                </div> <!-- End Row -->
            </div><!-- End container -->
        </div><!--  End Section -->

        <div class="line"></div>

        <!-- Section form contact -->
        <section class="padding-top:50px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 right-contact">
                        <h4>Thank You for your details. For more details about Microfinance please give following details </h4>
                        <form class="form-inline form-contact-finance form-contact-2" name="contact" method="post" action="{% url 'sspn_portfolio_website:index' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-sm-12  ">
                                    <input type="text" class="form-control" name="city" id="yourCity" placeholder="Your City">
                                </div>

                                <div class="form-group col-sm-12 ">
                                    <input type="text" class="form-control" name="yourCompany" id="yourCompany" placeholder="Your Company">
                                </div>
                                <div class="form-group col-sm-12 ">
                                    <select class="form-control" name="yourprofession" id="yourprofession" style="width: 100%;height: 50px">
                                        <option>Salaried</option>
                                        <option>Business</option>
                                        <option>Self Employed</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="ot-btn large-btn btn-rounded btn-block btn-main-color btn-submit">Click Here For More Details</button>
                        </form> <!-- End Form -->
                    </div> <!-- End col -->
                </div>
            </div>
        </section>
        <!-- End Section -->

{% endblock %}